@using OnlinePriceSystem.Controllers
@using QuoteTree
@{
    var Model = (ANode)TempData["root"]!;
	var price = Model == null? "0": Model.TotalStr;
	ViewData["Title"] = Model != null? Model.Name : "New Definition";
}

 <script src="../../js/TreeViewEditOne-min.js"></script>
    <style>
		        /* Light mode */
        @@media (prefers-color-scheme: light) {
            body {
                background-color: white;
                color: black;
            }
            .filler {
				display: inline-block;
				float:right;  
				clear: both;
				height: 90%;  
				/*background-repeat:repeat-x ;*/
				background:url('../../Images/dot.gif') repeat-x  center;
				margin-right:0px;
        	}
            .filler:hover {
                background:url('../../Images/dot-bold.gif') repeat-x  center;
            }
			.subtotal {
				position:absolute;
				right:0;
				color:darkblue;
       		}

			.remove {
				display: inline-block;
				cursor: pointer; 
				margin-left:6px;
				height:12px;
				width:12px;
				background: url('../../Images/badge_minus.png') center;
				background-size: 12px 12px;
				vertical-align: middle;
			}
			.remove:hover {
				display: inline-block;
				height:12px;
				width:12px;
				background: url('../../Images/badge_minus_orange.png') center;
				background-size: 12px 12px;
				vertical-align: middle;
			}
			.add {
				display: inline-block;
				cursor: pointer; 
				margin-left:6px;
				height:12px;
				width:12px;
				background: url('../../Images/badge_plus.png') center;
				background-size: 12px 12px;
				vertical-align: middle;
			}
			.add:hover {
				display: inline-block;
				height:12px;
				width:12px;
				background: url('../../Images/badge_plus_orange.png') center;
				background-size: 12px 12px;
				vertical-align: middle;
			}
			.edit {
				display: inline-block;
				cursor: pointer; 
				margin-left:6px;
				height:12px;
				width:12px;
				background: url('../../Images/pencil.png') center;
				background-size: 12px 12px;
				vertical-align: middle;
			}
			.edit:hover {
				display: inline-block;
				height:12px;
				width:12px;
				background: url('../../Images/pencil_orange.png') center;
				background-size: 12px 12px;
				vertical-align: middle;
			}
			.loading_dependencies{
				display: inline-block;
				height:24px;
				width:24px;
				background: url('../../Images/ajax-bar.gif') center no-repeat;
				background-size: 16px 16px;
				vertical-align: middle;
				background-color: #f6a828;
			}
			.build{
				display: inline-block;
				height:24px;
				width:24px;
				cursor: pointer;
				background: url('../../Images/link_anchor-128.png') center no-repeat;
				background-size: 16px 16px;
				vertical-align: middle;
				background-color: #f6a828;
			}
			.build:hover {
				transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
				background-color: #fdf5ce;
			}
        }
        /* Dark mode */
        @@media (prefers-color-scheme: dark) {
            body {
                background-color: black;
                color: white;
            }
			.ui-widget-content {
				background: black;
				color: white;
			}
            .filler {
				display: inline-block;
				float:right;  
				clear: both;
				height: 90%;  
				/*background-repeat:repeat-x ;*/
				background:url('../../Images/dot-white.gif') repeat-x  center;
				margin-right:0px;
        	}
            .filler:hover {
                background:url('../../Images/dot-bold-white.gif') repeat-x  center;
            }

			.subtotal {
            position:absolute;
				right:0;
				color:olive;
       		}

			.remove {
				display: inline-block;
				cursor: pointer; 
				margin-left:6px;
				height:12px;
				width:12px;
				background: url('../../Images/badge_minus_orange.png') center;
				background-size: 12px 12px;
				vertical-align: middle;
			}
			.add {
				display: inline-block;
				cursor: pointer; 
				margin-left:6px;
				height:12px;
				width:12px;
				background: url('../../Images/badge_plus_orange.png') center;
				background-size: 12px 12px;
				vertical-align: middle;
			}
			.edit {
				display: inline-block;
				cursor: pointer; 
				margin-left:6px;
				height:12px;
				width:12px;
				background: url('../../Images/pencil_orange.png') center;
				background-size: 12px 12px;
				vertical-align: middle;
			}
			.loading_dependencies{
				display: inline-block;
				height:24px;
				width:24px;
				background: url('../../Images/ajax-bar.gif') center no-repeat;
				background-size: 16px 16px;
				vertical-align: middle;
				background-color: #f6a828;
			}
			.build{
				display: inline-block;
				height:24px;
				width:24px;
				cursor: pointer;
				background: url('../../Images/link_anchor-128.png') center no-repeat;
				background-size: 16px 16px;
				vertical-align: middle;
				background-color: #f6a828;
			}
			.build:hover {
				transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
				background-color: #808080;
			}
        }
		input[type="checkbox"]{
			vertical-align: middle;
		}
        html {
            overflow-y: scroll;
        }
		hr {
            margin: 8px 0;
            border: 0;
            opacity: 0.25;
        }
        #description {
            float: left;
            width: 40%;
            background: #cccccc;
        }

        #container {
            float: right;
            width: 60%;
            font-family: Arial, Helvetica, sans-serif;
        }
		.jstree a {
			display: inline-block;
			line-height: 16px;
			height: 18px;
		}
		
		div.container{
            max-width: 100%;
        }
        .formula {
            position:relative;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; 
            display:inline-block;
            vertical-align:bottom;
            white-space:nowrap;
            overflow:hidden;
            color:blue;

        }
        .name {
            position:relative;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; 
            /*display:inline-block;*/
            vertical-align:bottom;
            white-space:nowrap;
            overflow:hidden;
        }
        label {            
             font-size: 12px;
		 }
		#overlay {
		    background-color: #aaaaaa;
		    z-index: 999;
		    position: fixed;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    display: none;
		    opacity: .3;
		}
		#offline_overlay {
		    background-color: #aaaaaa;
		    z-index: 999;
		    position: fixed;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    display: none;
		    opacity: .3;
		}
        html, body {margin: 0; height: 100%; overflow: hidden}    
    </style>
    <style>
        .ui-tooltip {
            opacity:1;
            box-shadow: 0 0 0px orange;
            word-wrap: break-word;
            background: #FDEBD0;
        }	 
		/* this class is for the autocomplete */
		.ui-autocomplete {
			font-size:10px;
			max-height: 400px;
			margin-bottom: 10px;
			overflow-x: auto;
			overflow-y: auto;
			/* add padding to account for vertical scrollbar */
            padding-right: 30px;
		}
		.ui-autocomplete.ui-widget {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
		}
		/* this is to remove the bold font weight */
		.ui-menu-item .ui-menu-item-wrapper.ui-state-active {	
			font-weight: normal !important;			
		} 

				/* width */
		/*Custom scrollbar*/
		::-webkit-scrollbar {
		width: 7px;
		}

		/* Track */
		::-webkit-scrollbar-track {
		background: #f1f1f1; 
		}
		
		/* Handle */
		::-webkit-scrollbar-thumb {
		background: #888; 
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		background: #555; 
		}
    </style>
     <div id="description" class="follow-scroll" style="text-align: center">
        <div style="line-height:15px; height: 15px; vertical-align: middle; background-color: #666666; padding: 0px 0px 0px 0px; font-size:14px; font-weight: bold; color: white; text-align: center;">
    	    <img style="padding: 0px 0px 0px 0px; vertical-align: top;" src="@Url.Content("~/")Images/description.jpg" height="15"/>
            <img id="top-left" style="float: left; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/top left gray.jpg" height="15" width="16" />
            <img id="top-right" style="float: right; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/top right gray.jpg" height="15" width="16" />
        </div>
        <div id="top-div" style="margin-top:16px; margin-left: 16px; margin-right:16px;text-align: center; background-color: white; position: relative">
            <div id="top-div2"  style="text-align: center; background-color: white; width: 100%; position:absolute; top:0">
                <img id="top-left2" style="float: left; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/top left white.jpg" height="15" width="16" />
                <img id="top-right2" style="float: right; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/top right white.jpg" height="15" width="16" />
            </div>
            <br />
            @{string url = ""; if (Model != null) url = Model.Url.Contains("ChangeTreeValue")? Model.Url : "Description?id=1";}
            <iframe style="overflow: scroll; width: 100%; border-width: 0px; background-color: white;" id="Iframe15" name="details" src="@url"></iframe>
            <div id="bottom-div" style="text-align: center; background-color: white; width: 100%; position:absolute; bottom:0">
                <img id="bottom-left" style="float: left; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/bottom left white.jpg" height="15" width="16" />
                <img id="bottom-right" style="float: right; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/bottom right white.jpg" height="15" width="16" />
            </div>
        </div>
        <span style="font-size: 7pt; color: #999999; padding: 0px 0px 0px 0px; height: 15px; border-width: 0px; vertical-align: top;">PATENT PENDING</span>
        <br />
    </div>
	<span id="price" style="float: right">  Total: @price</span>
    <span id="space" style="float: right">&nbsp;</span>
    <a id="quote" href="QuoteDetails" target="details" style="float: right; color: black">Quote</a>

    <div style="white-space: nowrap;display: inline-block;color:green;">
        &nbsp; &nbsp;<input type="checkbox" id="HiddenFields" name="HiddenFields" checked="checked" onchange="javascript: ToggleHiddenFields();"><label style="display: inline-block; " onclick="javascript:$('#HiddenFields').click();">&nbsp; Hidden</label>
    </div>
    <div style="white-space: nowrap;display: inline-block;color:blue;">
        &nbsp;<input type="checkbox" id="Formulas" name="Formulas" checked="checked" onchange="javascript: ToggleFormulas();"><label id="FormulaText" style="display: inline-block; " onclick="javascript:$('#Formulas').click();">&nbsp;Formulas</label>
        
    </div>
    <div style="white-space: nowrap;display: none;color:darkblue;">
        &nbsp;<input type="checkbox" id="Subtotals" name="Subtotals" checked="checked" onchange="javascript: ToggleSubtotals();"><label style="display: inline-block; " onclick="javascript:$('#Subtotals').click();">&nbsp;Subtotals</label>
    </div>  
    <div style="white-space: nowrap;display: inline-block">
        &nbsp;<input type="checkbox" id="Description" name="Description" checked="checked" onchange="javascript: ToggleDescription();"><label id="DescriptionText" style="display: inline-block; " onclick="javascript:$('#Description').click();">&nbsp;Description</label>
    </div> 
    <div style="white-space: nowrap;display: inline-block">
        &nbsp;<input type="checkbox" id="Compact" name="Compact" onchange="javascript: ToggleCompact();"><label id="CompactText" style="display: inline-block; " onclick="javascript:$('#Compact').click();">&nbsp;Cmpct</label>
    </div>   
    <div style="white-space: nowrap;display: none">
        &nbsp;<input type="checkbox" id="Id" name="Id" checked="checked" onchange="javascript: ToggleId();"><label id="Id" style="display: inline-block; " onclick="javascript:$('#Id').click();">&nbsp;Id</label>
    </div>
    <div id="hr" style="float:right; width:59.5%"><HR></div>
    <div id="container" style="height:100%; overflow-x:hidden; overflow-y:scroll;margin:0px 0px 0px 0px;position:relative;">
        <ul id="treeview" style="display:block">              
        </ul>
    </div>  
	
    <div id="inodeInfo" width="40%" height="40%" style="display:none">
		<table class="table1class" id="inodeInfoTable" style="text-align:right; margin: auto; font-size:small; padding:0; margin:0; border-collapse:collapse;">
			<tr>
				<td><label>Name</label></td>
				<td style="text-align:left;"><input type="text" id="inodeName"></td>
			</tr>
			<tr>
				<td> <label>Type</label></td>
				<td  style="text-align:left;">
					<select id="inodeType" disabled="disabled">
					  <option value="Math">Math</option>
					  <option value="Decision">Decision</option>
					  <option value="Text">Text</option>
					  <!--<option value="Range">Range</option>-->
					  <option value="SumSet">Sum Set</option>
					  <option value="Conditional">Conditional</option>
					  <!--<option value="ConditionalRules">Conditional Rules</option>-->
                      <option value="Reference">Reference</option>
                      <option value="Date">Date</option>
                      <option value="Today">Today</option>
					</select>
				</td>
			</tr>
			<tr>
				<td> <label>Units</label></td>
				<td  style="text-align:left;">
					<select id="inodeUnits" onchange="SetUnits();">
                      <option value=""></option>
					  <option value="$">Currency</option>
					  <option value="In">Inches</option>
					  <option value="Sq In">Square Inches</option>
					  <option value="Ft">Feet</option>
					  <option value="Sq Ft">Square Feet</option>
					</select>
                    <input id="inodeUnitsText" type="text" />
				</td>
			</tr>
			<tr>
				<td> <label>Decimal Places</label></td>
				<td  style="text-align:left;"><input type="text" id="inodeDecimalPlaces"></td>
			</tr>
			<tr>
				<td><label>Expression</label></td>
				<td  style="text-align:left;"><textarea rows="2" id="inodeExpression"></textarea></td>
			</tr>
			<tr>
				<td><label>Expanded Levels</label></td>
				<td  style="text-align:left;"><input type="text" id="inodeExpandedLevels"></td>
			</tr>
            <tr>
				<td> <label>Order</label></td>
				<td  style="text-align:left;">
					<select id="inodeOrder">
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Min</label></td>
				<td  style="text-align:left;"><input type="text" id="inodeMin"></td>
			</tr>
			<tr>
				<td><label>Max</label></td>
				<td  style="text-align:left;"><input type="text" id="inodeMax"></td>
			</tr>
			<tr>
				<td><label>Discount (%)</label></td>
				<td  style="text-align:left;"><input type="text" id="inodeDiscount"></td>
			</tr>
            <tr>
				<td><label>Disable Condition</label></td>
                <td  style="text-align:left;"><textarea rows="2" id="inodeDisable"></textarea></td>
			</tr>
            <tr>
				<td><label>Disabled Message</label></td>
                <td  style="text-align:left;"><textarea rows="2" id="inodeDisabledMessage"></textarea></td>
			</tr>
			<tr>
				<td style="text-align:center; border:solid thin; border-color:#C0C0C0;" colspan="2">
                        &nbsp;&nbsp;
                        <label style="display:inline">Optional &nbsp;</label><input style="display:inline" type="checkbox" id="inodeOptional">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Hidden &nbsp;</label><input style="display:inline" type="checkbox" id="inodeHidden">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Edit Children &nbsp;</label><input style="display:inline" type="checkbox" id="inodeEditChildren">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Report &nbsp;</label><input style="display:inline" type="checkbox" id="inodeReport">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Report Value &nbsp;</label><input style="display:inline" type="checkbox" id="inodeReportValue">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Template &nbsp;</label><input style="display:inline" type="checkbox" id="inodeTemplate">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Read Only &nbsp;</label><input style="display:inline" type="checkbox" id="inodeReadOnly">
				</td>
			</tr>
		</table>
    </div>
    <div id="inewnodeInfo" style="display:none">
		<table class="table2class" style="text-align:right; margin: auto">
			<tr>
				<td><label>Name</label></td>
				<td  style="text-align:left;"><input type="text" id="newinodeName"></td>
			</tr>
			<tr>
				<td> <label>Type</label></td>
				<td  style="text-align:left;">
					<select id="newinodeType">
					  <option value="Math">Math</option>
					  <option value="Decision">Decision</option>
					  <option value="Text">Text</option>
					  <!--<option value="Range">Range</option>-->
					  <option value="SumSet">Sum Set</option>
					  <option value="Conditional">Conditional</option>
					  <!--<option value="ConditionalRules">Conditional Rules</option>-->
                      <option value="Reference">Reference</option>
                      <option value="Date">Date</option>
                      <option value="Today">Today</option>
					</select>
				</td>
			</tr>
			<tr>
				<td> <label>Units</label></td>
				<td  style="text-align:left;">
					<select id="newinodeUnits" onchange="SetUnits();">
                      <option value=""></option>
					  <option value="$">Currency</option>
					  <option value="In">Inches</option>
					  <option value="Sq In">Square Inches</option>
					  <option value="Ft">Feet</option>
					  <option value="Sq Ft">Square Feet</option>
					</select>
                    <input id="newinodeUnitsText" type="text" />
				</td>
			</tr>
			<tr>
				<td> <label>Decimal Places</label></td>
				<td  style="text-align:left;"><input type="text" id="newinodeDecimalPlaces"></td>
			</tr>	

			<tr>
				<td><label>Expression</label></td>
				<td  style="text-align:left;"><textarea rows="2" id="newinodeExpression"></textarea></td>
			</tr>
			<tr>
				<td><label>Expanded Levels</label></td>
				<td  style="text-align:left;"><input type="text" id="newinodeExpandedLevels"></td>
			</tr>
             <tr>
				<td> <label>Order</label></td>
				<td  style="text-align:left;">
					<select id="newinodeOrder">
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Min</label></td>
				<td  style="text-align:left;"><input type="text" id="newinodeMin"></td>
			</tr>
			<tr>
				<td><label>Max</label></td>
				<td  style="text-align:left;"><input type="text" id="newinodeMax"></td>
			</tr>
			<tr>
				<td><label>Discount (%)</label></td>
				<td  style="text-align:left;"><input type="text" id="newinodeDiscount"></td>
			</tr>
            <tr>
				<td><label>Disable Condition</label></td>
                <td  style="text-align:left;"><textarea rows="2" id="newinodeDisable"></textarea></td>
			</tr>
            <tr>
				<td><label>Disabled Message</label></td>
                <td  style="text-align:left;"><textarea rows="2" id="newinodeDisabledMessage"></textarea></td>
			</tr>
            <tr>
                <td style="text-align:center; border:solid thin; border-color:#C0C0C0;" colspan="2">
                        &nbsp;&nbsp;
                        <label style="display:inline">Optional &nbsp;</label><input style="display:inline" type="checkbox" id="newinodeOptional">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Hidden &nbsp;</label><input style="display:inline" type="checkbox" id="newinodeHidden">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Edit Children &nbsp;</label><input style="display:inline" type="checkbox" id="newinodeEditChildren">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Report &nbsp;</label><input style="display:inline" type="checkbox" id="newinodeReport">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Report Value &nbsp;</label><input style="display:inline" type="checkbox" id="newinodeReportValue">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Template &nbsp;</label><input style="display:inline" type="checkbox" id="newinodeTemplate">&nbsp;
						<label style="display:inline">|</label>&nbsp;
                        <label style="display:inline">Read Only &nbsp;</label><input style="display:inline" type="checkbox" id="newinodeReadOnly">
				</td>
            </tr>
		</table>
    </div>
     <div id="removeNode" style="display:none">
     	<label>Delete node?</label>
     </div>

     <script>

	$( document ).ready(function() {
    	//$( document ).tooltip();
		//var availableTags = $("span").map(function(){return $(this).text();}).get();
		//$( "textarea" ).autocomplete({source: availableTags});
		$("#save").show();
		$("#discard").show();
		$("#exit").show();
	});

		function activateDarkMode() {
			// set style to dark
			$("#top-left").attr("src", "../../Images/top left gray-dark.jpg");
			$("#top-right").attr("src", "../../Images/top right gray-dark.jpg");
			$("#top-left2").attr("src", "../../Images/top left dark.jpg");
			$("#top-right2").attr("src", "../../Images/top right dark.jpg");
			$("#bottom-left").attr("src", "../../Images/bottom left dark.jpg");
			$("#bottom-right").attr("src", "../../Images/bottom right dark.jpg");
			$("#top-div").css("background-color", "black");
			$("#top-div2").css("background-color", "black");
			$("#bottom-div").css("background-color", "black");
			$("#inodeInfo").css("background-color", "black");
			$("#inodeInfo").css("color", "white");
			$("#inewnodeInfo").css("background-color", "black");
			$("#inewnodeInfo").css("color", "white");
			$("#removeNode").css("background-color", "black");
			$("#removeNode").css("color", "white");
			$(".ui-widget-content").css("background", "black");
			$(".ui-widget-content").css("color", "white");
			$("#save").css("color", "black");
			$("#discard").css("color", "black");
			$("#minimize").css("color", "black");
			$("#maximize").css("color", "black");
			$("#exit").css("color", "black");
			$("#quote").css("color", "white");
			$(".navbar").css("background-color","#F6A828");
			$('.name').each(function(){
				//if statement here 
				// use $(this) to reference the current
				//alert($(this).css("color"));
				if ($(this).css("color") == "rgb(0, 0, 0)") 
					$(this).css('color', 'gray');
			});
		}

		function activateLightMode() {
		// set style to light
			$("#top-left").attr("src", "../../Images/top left gray.jpg");
			$("#top-right").attr("src", "../../Images/top right gray.jpg");
			$("#top-left2").attr("src", "../../Images/top left white.jpg");
			$("#top-right2").attr("src", "../../Images/top right white.jpg");
			$("#bottom-left").attr("src", "../../Images/bottom left white.jpg");
			$("#bottom-right").attr("src", "../../Images/bottom right white.jpg");
			$("#top-div").css("background-color", "white");
			$("#top-div2").css("background-color", "white");
			$("#bottom-div").css("background-color", "white");
			$("#inodeInfo").css("background-color", "#EEEEEE");
			$("#inodeInfo").css("color", "black");
			$("#inewnodeInfo").css("background-color", "#EEEEEE");
			$("#inewnodeInfo").css("color", "black");
			$("#removeNode").css("background-color", "#EEEEEE");
			$("#removeNode").css("color", "black");
			$(".ui-widget-content").css("background", "#EEEEEE");
			$(".ui-widget-content").css("color", "black");
			$("#save").css("color", "black");
			$("#discard").css("color", "black");
			$("#minimize").css("color", "black");
			$("#maximize").css("color", "black");
			$("#exit").css("color", "black");
			$("#quote").css("color", "black");
			$(".navbar").css("background-color","#F6A828");
			$('.name').each(function(){
				//if statement here 
				// use $(this) to reference the current
				if ($(this).css("color") == "rgb(128, 128, 128)") 
					$(this).css('color', 'black');
			});
		}

		window.matchMedia("(prefers-color-scheme: dark)").addListener(
			e => e.matches && activateDarkMode() // listener
		);

		window.matchMedia("(prefers-color-scheme: light)").addListener(
			e => e.matches && activateLightMode() // listener
		);




	$( document ).ready(function() {
    	if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
			activateDarkMode();
		}

		if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
			activateLightMode();
		}

		$("html").keydown(function (e) {
			if (e.key == 'Delete') {
				e.preventDefault();
				removeNodeIds = "";
				var selectedNodes = $("#container").jstree("get_selected");
				if (selectedNodes.length > 1) {
					for (var i = 0; i < selectedNodes.length; i++) {
						removeNodeIds += selectedNodes[i].id.replace(/li_/g, "") + ";";
					}
					$("#removeNode").children("label").text("Remove multiple nodes?");
					removenodedialog.dialog("open");
				}
				else if (selectedNodes.length == 1) {
					nodeId = selectedNodes[0].id.replace(/li_/g, "");
					$("span[id='remove_" + nodeId + "']").click();
				}
			}
        });
	});
</script>

	