@using OnlinePriceSystem.Controllers
@using QuoteTree
@{
    var Model = (ANode)TempData["root"];
    ViewData["Title"] = "View quote";
}
 
  <script src="../../js/TreeViewOne.js"></script>
    <style>
        /* Light mode */
        @@media (prefers-color-scheme: light) {
            body {
                background-color: white;
                color: black;
            }
            .filler {
            display: inline-block;
            float:right;  
            clear: both;
            height: 90%;  
            /*background-repeat:repeat-x ;*/
            background:url('../../Images/dot.gif') repeat-x  center;
            margin-right:0px;
        }
            .filler:hover {
                background:url('../../Images/dot-bold.gif') repeat-x  center;
            }
        }
        /* Dark mode */
        @@media (prefers-color-scheme: dark) {
            body {
                background-color: black;
                color: white;
            }
            .filler {
            display: inline-block;
            float:right;  
            clear: both;
            height: 90%;  
            /*background-repeat:repeat-x ;*/
            background:url('../../Images/dot-white.gif') repeat-x  center;
            margin-right:0px;
        }
            .filler:hover {
                background:url('../../Images/dot-bold-white.gif') repeat-x  center;
            }
        }
        input[type="checkbox"]{
			vertical-align: middle;
		}
        html {
            overflow-y: scroll;
        }
        hr {
            margin: 8px 0;
            border: 0;
            opacity: 0.25;
        }
        #description {
            float: left;
            width: 40%;
            height: 100%;
            background: #cccccc;          
        }
        .jstree a {
			line-height:18px;
            display: unset;
		}
        div.container{
            max-width: 100%;
        }
        #container {
            float: right;
            width: 60%;
            font-family: Verdana;
        }
        .formula {
            position:relative;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; 
            display:inline-block;
            vertical-align:bottom;
            white-space:nowrap;
            overflow:hidden;
            color:blue;
        }
        .name {
            position:relative;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; 
            display:inline-block;
            vertical-align:bottom;
            white-space:nowrap;
            overflow:hidden;
        }
        .subtotal {
            position: absolute;
            right:0;
            color:darkblue;
        }
        label {
              font-size: 12px;
		 }

        .ui-tooltip {
            opacity:1;
            box-shadow: 0 0 0px orange;
            word-wrap: break-word;
            background: #FDEBD0;
    }
        html, body {margin: 0; height: 100%; overflow: hidden}
    </style>

    <div id="description" class="follow-scroll" style="text-align: center">
        <div style="line-height:15px; height: 15px; vertical-align: middle; background-color: #666666; padding: 0px 0px 0px 0px; font-size:14px; font-weight: bold; color: white; text-align: center;">
    	    <img style="padding: 0px 0px 0px 0px; vertical-align: top;" src="@Url.Content("~/")Images/description.jpg" height="15"/>
            <img id=top-left style="float: left; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/top left gray.jpg" height="15" width="16" />
            <img id=top-right style="float: right; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/top right gray.jpg" height="15" width="16" />
        </div>
        <div style="margin-top:16px; margin-left: 16px; margin-right:16px;text-align: center; background-color: white; position: relative">
            <div style="text-align: center; background-color: white; width: 100%; position:absolute; top:0">
                <img style="float: left; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/top left white.jpg" height="15" width="16" />
                <img style="float: right; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/top right white.jpg" height="15" width="16" />
            </div>
            <br />
            @{string url = ""; if (Model != null) url = Model.Url.Contains("ChangeTreeValue")? Model.Url : "Description?id=1";}
            <iframe style="overflow: scroll; width: 100%; border-width: 0px; background-color: white;" id="Iframe15" name="details" src="@url"></iframe>
            <div style="text-align: center; background-color: white; width: 100%; position:absolute; bottom:0">
                <img style="float: left; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/bottom left white.jpg" height="15" width="16" />
                <img style="float: right; padding: 0px 0px 0px 0px" src="@Url.Content("~/")Images/bottom right white.jpg" height="15" width="16" />
            </div>
        </div>
        <span style="font-size: 7pt; color: #999999; padding: 0px 0px 0px 0px; height: 15px; border-width: 0px; vertical-align: top;">GPL-3.0 LICENSE</span>
        <br />
    </div>
    <span id="price" style="float: right">  Price: @Model.TotalStr</span>
    <span id="space" style="float: right">&nbsp;</span>
    <a href="QuoteDetails" target="details" style="float: right; color: blue">Details</a>

    <div style="white-space: nowrap;display: inline-block;color:green;">
        &nbsp; &nbsp;<input type="checkbox" id="HiddenFields" name="HiddenFields" checked="checked" onchange="javascript: ToggleHiddenFields();"><label style="display: inline-block; " onclick="javascript:$('#HiddenFields').click();">&nbsp; Hidden</label>
    </div>
    <div style="white-space: nowrap;display: inline-block;color:blue;">
        &nbsp;<input type="checkbox" id="Formulas" name="Formulas" checked="checked" onchange="javascript: ToggleFormulas();"><label id="FormulaText" style="display: inline-block; " onclick="javascript:$('#Formulas').click();">&nbsp;Formulas</label>
        
    </div>
    <div style="white-space: nowrap;display: none;color:darkblue;">
        &nbsp;<input type="checkbox" id="Subtotals" name="Subtotals" checked="checked" onchange="javascript: ToggleSubtotals();"><label style="display: inline-block; " onclick="javascript:$('#Subtotals').click();">&nbsp;Subtotals</label>
    </div>  
    <div style="white-space: nowrap;display: inline-block">
        &nbsp;<input type="checkbox" id="Description" name="Description" checked="checked" onchange="javascript: ToggleDescription();"><label id="DescriptionText" style="display: inline-block; " onclick="javascript:$('#Description').click();">&nbsp;Description</label>
    </div>    
     <div style="white-space: nowrap;display: inline-block">
        &nbsp;<input type="checkbox" id="Compact" name="Compact" onchange="javascript: ToggleCompact();"><label id="CompactText" style="display: inline-block; " onclick="javascript:$('#Compact').click();">&nbsp;Cmpct</label>
    </div>
    <div style="white-space: nowrap;display: none">
        &nbsp;<input type="checkbox" id="Id" name="Id" checked="checked" onchange="javascript: ToggleId();"><label id="Id" style="display: inline-block; " onclick="javascript:$('#Id').click();">&nbsp;Id</label>
    </div>
    <div id="hr" style="float:right; width:59.5%;"><HR></div>
    <div id="container" style="height:100%; overflow-x:hidden; overflow-y:scroll;margin:0px 0px 0px 0px;position:relative;">
        <ul id="treeview" style="display:block;">
        </ul>
    </div>
    <script>
     	$(function(){
     		Offline.on('down', function(){
     			$('#container *').prop('disabled',true).css( 'pointer-events', 'none' );
     		});
			Offline.on('up', function(){
				$('#container *').prop('disabled',false).css( 'pointer-events', 'auto' );
			}); 
     	});

         $(document).ready(function() {
             //Detect dark mode
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                // dark mode
                $("#top-left").attr("src", "../../Images/top left gray-dark.jpg");
                $("#top-right").attr("src", "../../Images/top right gray-dark.jpg");

            }  		
            else{
                // light mode
                $("#top-left").attr("src", "../../Images/top left gray.jpg");
                $("#top-right").attr("src", "../../Images/top right gray.jpg");
            }
         });
     </script>
